* {
            -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
            -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
            -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
            -webkit-user-select: none;                 /* prevent copy paste, to allow, change 'none' to 'text' */

    }
/* CSS Document */
@font-face {
    font-family: 'HelvNueRoman';
    src: url('../fonts/helveticaneueltstd-roman.eot');
	    src: url('../fonts/helveticaneueltstd-roman.eot#iefix');
    src: url('../fonts/helveticaneueltstd-roman.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-roman.woff') format('woff'),
         url('../fonts/helveticaneueltstd-roman.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-roman.svg#HelveticaNeueLTStd55Roman') format('svg');
}
@font-face {
    font-family: 'HelvNueThin';
    src: url('../fonts/helveticaneueltstd-th.eot');
		    src: url('../fonts/helveticaneueltstd-roman.eot#iefix');
    src: url('../fonts/helveticaneueltstd-th.eot') format('embedded-opentype'),
         url('../fonts/helveticaneueltstd-th.woff') format('woff'),
         url('../fonts/helveticaneueltstd-th.ttf') format('truetype'),
         url('../fonts/helveticaneueltstd-th.svg#HelveticaNeueLTStd35Thin') format('svg');
}
*{
	font-family: HelvNueRoman !important;
}
body{
	margin:0px;
	overflow:hidden;	
}
.header{
	position:relative;
	margin-bottom:10px;
	background:#3EA0E1;
	text-align:center;
}
.header img{
	max-width:100%;
}
.lockerContent{
	width: 95%;
	margin: 0 auto;	
	display:none;
}
#lockerContainer{
	width: -webkit-calc(100% - 14px);
	width: calc(100% - 14px);
	height: 40%;
	border: 2px solid #F1F0F1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	overflow: hidden;
	padding: 5px;
}

.div_left
{
	position: relative;
	float: left;
	width: 50%;
}
.div_right
{
	position: relative;
	margin: 0px 0px 0px -5px;
	float: left;
	width: -webkit-calc(50% + 5px);
	width: calc(50% + 5px);
}
.div_123
{
	position: relative;
	float: left;
	width: -webkit-calc(100% - 5px);
	width: calc(100% - 5px);
	margin: 0px 5px 0px 0px;
	height: 50%;
	background: #F1F0F1;
	clear: left;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.div_45:first-child
{
	margin-bottom: 2px;
	height: -webkit-calc(50% - 2px);
	height: calc(50% - 2px);
}
.div_45:last-child
{
	margin-top: 3px;
	height: -webkit-calc(50% - 2px);
	height: calc(50% - 2px);
}
.div_45
{
	position: relative;
	float: right;
	width: -webkit-calc(100% - 5px);
	width: calc(100% - 5px);
	height: 50%	;
	clear: right;
	background: #F1F0F1;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.div_123:nth-child(1)
{
	margin: 0px 0px 5px 0px;
	height: -webkit-calc(34% - 5px);
	height: calc(34% - 5px);
}
.div_123:nth-child(2)
{
	margin: 0px 0px 5px 0px;
	height: -webkit-calc(33% - 5px);
	height: calc(33% - 5px);
}
.div_123:nth-child(3)
{
	margin: 0px;
	height: 33%;
}
.tekst{
	position:absolute;
	text-align:center;
	right:10px;
	bottom:5px;
	font-size: 30px;	
	color: #FFF;
}
.openLocker {
	background: #6FD865;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.showLocker {
	background: #3EA0E1;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.showLocker div.tekst{
	color: #FFF;
}
.activeLockerBlack {
	color: #000;
}
.btn{
	position: relative;
	width:100%;
	text-align:center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin:10px 0px;
	font-size: 30px;
	padding:10px 0px 0px 0px;
	color: #FFF;
	filter: alpha(opacity=30);
	opacity: 0.3;
	cursor: pointer;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.showButton{
	background: rgb(0,158,228);
	border: 0px;
}
.openButton{
	background: rgb(0,227,103);
	border: 0px;
}
.cancelButton{
	background: rgb(255,0,0);
	border: 0px;
}
.btnHover{
	filter: alpha(opacity=100);
	opacity: 1;	
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.lockerLine{
	clear:both;	
	border-bottom: 1px solid #BBBBBE;
	height: 20px;
	padding:10px 0px;
	margin:0 10px;
	cursor:pointer;
}
.icon{
	float:left;
	width: -webkit-calc(20% - 10px);
	width: calc(20% - 10px);
	padding-left:10px;
}
.icon img{
	height:20px;	
}
.name{
	float:left;
	width: 60%;
	padding-top:1px;
}
.arrow{
	float:left;
	width: 20%;
}
.arrow img{
	padding-top:5px;
	padding-right:10px;
	float:right;
}